* {
    margin: 0;
    box-sizing: border-box;
}

#navbar {
    padding: 1vw 0;
    border-bottom: 1px solid #ddd;
    background: #fff;
}

#logoimg {
    height: 4.5vw;
    width: 4.5vw;
    padding: 0.5vw;
}


.navbar-brand {
    font-family: 'Lovelo', sans-serif;
    font-size: 2vw !important;
    font-weight: 900;
    color: #000;
}

.nav-link {
    color: #000;
    font-family: 'Lovelo', sans-serif !important;
    font-weight: 900 !important;
    transition: color 0.3s;
    font-size: 1.5vw !important;

}

.nav-link:hover {
    color: #0307af !important;
}

#about-header {
    background-color: #f8f8f8;
    text-align: center;
    padding-top: 3vw;
}

#about-header p {
    font-family: 'Lovelo', sans-serif;
    font-size: 4vw;
    font-weight: 900;
    text-align: center;
    margin-bottom: 50px;
    color: #0307af;
}

#about-text {
    background-color: #ffffff;
    text-align: center;
}

#about-text p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.75vw;
    font-weight: 900;
    text-align: center;
    padding: 7vw;
}

footer {
    background-color: #0307af;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 0;
    border-top: 3px solid #00008b;
}

footer p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1.2vw;
    margin: 0;
}



@media (max-width: 1200px) {
    #logoimg {
        height: 6vw;
        width: 6vw;
    }

    .navbar-brand {
        font-size: 3.5vw !important;
    }

    .nav-link {
        font-size: 2vw !important;
    }
}

@media (max-width: 992px) {
    #logoimg {
        height: 8vw;
        width: 8vw;
    }

    .navbar-brand {
        font-size: 6vw !important;
    }

    .nav-link {
        font-size: 4vw !important;
        text-align: center;
    }
    #about-header p {
        font-size: 6vw; /* slightly larger for smaller screens */
        margin-bottom: 30px;
    }

    #about-text p {
        font-size: 2.5vw;
        padding: 5vw;
    }
}

/* ---------- Mobile (Bootstrap “sm” and smaller) ---------- */
@media (max-width: 576px) {
    #about-header {
        padding-top: 8vw;
    }

    #about-header p {
        font-size: 8vw;
        margin-bottom: 20px;
    }
    .navbar-brand {
        font-size: 7vw !important;
    }

    #about-text p {
        font-size: 4vw;
        font-weight: 700;
        padding: 6vw 4vw;
        text-align: justify; /* improves readability on mobile */
    }
    body {
        font-size: 4vw;
    }

    #video-header-text {
        font-size: 8vw;
    }

    .navbar-brand {
        font-size: 7vw !important;
    }
    footer p {
        font-size: 3.5vw;
    }
}


